<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true" />
        
        <activity android:name=".RegisterActivity" />
        <activity android:name=".TransactionEntryActivity" />
        <activity android:name=".TransactionHistoryActivity" />
        <activity android:name=".CategoryManagementActivity" />
        <activity android:name=".BudgetPlannerActivity" />
        <activity android:name=".SavingsGoalsActivity" />
        <activity android:name=".AnalyticsActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".TransfersActivity" />
        <activity android:name=".PaymentsActivity" />
        <activity android:name=".ScanQrActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".AddMoneyActivity" />
        <activity android:name=".ExchangeActivity" />
        <activity android:name=".CardsActivity" />
        <activity android:name=".LoansActivity" />
        <activity android:name=".ServicesActivity" />
        <activity android:name=".MoreActivity" />
        <activity android:name=".FamilyHubActivity" />
        <activity android:name=".InviteMemberActivity" />
        <activity android:name=".PermissionsActivity" />
        <activity android:name=".RecurringTransactionsActivity" />
        <activity android:name=".OtpVerificationActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".NewPasswordActivity" />
        <activity android:name=".CaptureAct" />
    </application>

</manifest>